@import '../../styles/global';

.cart_span {
  color: $color-brown;
  font-weight: 100;
  font-size: 1.4rem;
  margin: 0.1rem 1rem;
}

.cart_img {
  width: 107px;
  height: 107px;
  margin: 0px 1vw;
}

.cart_total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #333;
  font-size: 2vw;
  padding: 5px;
  margin: 5px 0;
  background: transparent;
  border: 1px solid $color-brown;
  border-radius: 8px;
}

.list_cart {
  margin: 0.3rem;
  padding: 0.5rem;
  border-color: $color-brown;
  border: 0.05vw solid $color-brown;
  border-radius: 8px;
}

.list_cart_white {
  margin: 0.3rem;
  padding: 0.5rem;
  background-color: white;
  border-color: $color-brown;
  border: 0vw solid $color-brown;
  border-radius: 8px;
}

.cart_emtpy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width:70vw;
  height: 40vh;
  color: $color-brown;
  font-weight: 700;
  font-size: 5rem;
  margin: 0.3rem 1rem;
}

.cart_middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #333;
  font-size: 2vw;
  padding: 5px;
  // margin: auto;
  background: transparent;
}

.cart_middle_row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  color: #333;
  font-size: 2vw;
  padding: 5px;
  // margin: auto;
  background: transparent;
}

.cart_between_row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: #333;
  font-size: 2vw;
  padding: 5px;
  // margin: auto;
  background: transparent;
}

.cart_small_row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  color: #333;
  font-size: 2vw;
  padding: 5px;
  // margin: auto;
  background: transparent;
}

@media (max-width: 630px) {
  .cart_middle_row {
    flex-direction: column;
    align-items: center;
  }
}
