$color-general: #d9c1a4;
$color-light: #e0e0e0;
$color-dark: #2c2828;
$color-red: #a80f02;
$color-brown: #7b6544;
$color-white: #ffffff;
$color-green: rgb(21, 233, 21);

$tablet-width: 780px;
$mobile-width: 500px;
$hamburger-width: 640px;
