.message-for-user {
  font-size: 150%;
  color: black;
}

.registration_p {
  padding: 2vw 4vw;
  color: #333;
  font-size: 2vw;
  padding: 0.2vw;
  margin: 0.2vw;
}

.registration_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
  color: #333;
  font-size: 2vw;
  padding: 1vw;
  margin: 1vw;
  background: transparent;
  border: 0.1vw solid #222;
}

.registration_span {
  color: #000000;
  font-weight: 100;
  font-size: 1rem;
  margin: 0px 1rem;
}

.registration_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 350px;
}

.registration_adress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #333;
  font-size: 2vw;
  padding: 1vw;
  margin: 1vw;
  background: transparent;
  border: 0.1vw solid #222;
}

.registration_shipBill {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 250px;
  color: #333;
  font-size: 2vw;
  padding: 1vw;
  margin: 1vw;
  background: transparent;
  border: 0.1vw solid #222;
}
