@import '../../styles/global';
.wrapper {
  display: flex;
  justify-content: center;
}

.strikethrough {
  text-decoration: line-through;
  padding-top: 2em;
}

.highlight {
  background-color: $color-green;
  max-width: 5em;
  font-weight: bold;
}
.noDiscount {
  padding-top: 2em;
}

.enlarged {
  width: 45em;
}

.breadcrumb {
  display: flex;
  border: none;
  margin: 0 auto;
  background: $color-light;
}
