@import '../../styles/global';

.page {
  display: flex;
  max-width: 1280px;
  padding: 0 50px;
  margin: 0 auto;
  min-height: calc(100vh - 150px);
}

.page__content {
  width: 84%;
  @include media-tablet {
    width: 100%;
  }
}

.page__header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url(../../assets/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 35vh;
  width: 100%;
  margin: 30px 0;
  border-radius: 5px;
  p {
    color: $color-general;
    font-size: 40px;
    margin: 0 0 3px 15px;
  }
  @include media-tablet {
    height: 25vh;
    p {
      font-size: 30px;
    }
  }
  @include media-mobile {
    height: 15vh;
    p {
      font-size: 20px;
    }
  }
}
