@import '../styles/global';

.products {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
  }
  & img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  & .name {
    color: $color-brown;
    font-size: 20px;
    padding: 5px 5px;
  }
}

.oldPrices {
  display: flex;
  align-items: center;
}

.newPrices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.oldPrice {
  color: $color-red;
  font-size: 20px;
  padding: 5px 5px;
  text-decoration: line-through;
  order: 2;
}

.price {
  color: $color-red;
  font-size: 24px;
  padding: 5px 5px;
}

.discountPrice {
  color: $color-green;
  font-size: 24px;
  padding: 5px 5px;
  order: 1;
}

.noDiscount {
  display: none;
}

.prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icon {
    font-size: 1.8rem;
    color: $color-brown;
  }
}
