@import '../styles/global';

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90vw;
  margin: 20px 0px;
  padding-bottom: 0px;
  > * {
    height: 140px;
    width: 140px;
    padding-top: 5px;
    text-align: center;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
    color: $color-white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  .accessories {
    background-image: url(../assets/accessories.jpg);
  }
  .cosmetics {
    background-image: url(../assets/cosmetics.jpg);
  }
  .textiles {
    background-image: url(../assets/textiles.jpg);
  }
  .sets {
    background-image: url(../assets/gift_set.jpg);
  }
  .catalog {
    background-image: url(../assets/catalog.png);
  }
}
