@import '../../styles/global';

.page {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 150px);
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  left: calc(50% - 200px);
  @include media-mobile {
    width: 350px;
    left: calc(50% - 175px);
    padding: 20px 5px;
  }
  h4 {
    color: $color-brown;
  }
}
